[Unit]
Description=Custom startup script
After=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/loadkeys /.cc.map
ExecStart=/usr/bin/razerd -B

[Install]
WantedBy=multi-user.target
