[Unit]
Description=Script after suspend
After=suspend.target

[Service]
User=%I
Type=oneshot
ExecStart=/usr/bin/bash -c 'for i in $(seq 0 4); do export DISPLAY=":$i"; /usr/bin/xautolock -enable && break || true; done'

[Install]
WantedBy=suspend.target
